/* Global */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
}
:root{
  --main-color: #FF3F4A;
  --selection-color: #A60009;
  --secondary-color: #474747;
  --main-transition: .6s;
  --footer-color: #A5A6AA;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #F4F4F4;
}
/* compenents */
.fas{
  font-size: 12px;
  color: var(--secondary-color);
  margin: 0px 10px;
}
.fa-search{
  position: relative;
}
section, footer, .footer{
  padding: 60px 12%;
}
@media (max-width: 750px){
  section, footer, .footer{
    padding: 60px 5%;
  }
}
section .container, footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 60px;
}
.special_heading{
  color: var(--secondary-color);
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  font-weight: lighter;
}
.special_heading::after{
  content: '';
  height: 5px;
  width: 10%;
  border-radius: 10px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--selection-color);
}
.special_button{
  width: fit-content;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  padding: 15px 20px;
  margin: 60px 0px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: var(--main-transition);
}
.special_button:hover{
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--secondary-color);
  color: var(--secondary-color);
}
.imgover{
  position: relative;
  cursor: pointer;
}
.imgover::after{
  content: "\f067";
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 98%;
  background-color: #0006;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome\ 5 Free";
  font-weight: bolder;
  font-size: 30px;
  transition: var(--main-transition);
  opacity: 0;
}
.imgover:hover::after{
  opacity: 1;
}
/* topbar */
.head{
  width: 100%;
}
.topbar{
  padding: 20px 12%;
  background-color: #F4F4F4;
  display: flex;
  justify-content: space-between;
}
.topbar .contact *{
  display: inline-block;
}
.topbar .contact i{
  transform: rotateY(180deg);
}
span{
  font-size: 12px;
  color: var(--secondary-color);
}
.shorts{
  width: 15%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 750px) {
  .topbar{
    flex-direction: column;
  }
  .topbar .shorts{
    width: 20%;
    margin: 15px auto;
  }
  .topbar .contact{
    text-align: center;
  }
  .topbar{
    flex-direction: column;
    height: 100px;
    padding-bottom: 40px;
  }
}
.shorts i{
  color: var(--main-color);
  cursor: pointer;
  margin: 0px;
}
.shorts i input{
  width: 300px;
  padding: 10px;
  padding-right: 25px;
  background-color: var(--selection-color);
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  outline: none;
  position: absolute;
  top: 100%;
  right: 0px;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}
.i_search{
  color: #fff !important;
  font-size: 14px;
  position: absolute;
  top: 170%;
  right: 7px;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
[class="fas fa-search"]:hover input, [class="fas fa-search"]:hover .i_search{
  visibility: visible;
  opacity: 1;
}
/* header */
header{
  height: 100px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12%;
}
header h1{
  font-size: 40px;
}
header a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.head .nav{
  display: none;
  border: none;
  padding: 5px;
  text-transform: capitalize;
}
header nav{
  height: inherit;
  width: fit-content;
  z-index: 9;
}
nav ul{
  height: inherit;
}
nav ul li{
  height: inherit;
  list-style: none;
  display: inline-block;
  float: left;
}
nav ul li a{
  height: inherit;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  transition: .4s;
}
nav ul li a:hover{
  background-color: var(--selection-color);
}
#active{
  padding: 0px 25px;
  background-color: var(--selection-color);
}
.d_arrow{
  position: relative;
}
.d_arrow::before{
  content: '';
  border: 4px #fff solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 52%;
  left: 10px;
  transform: translateY(-50%);
}
.dropdown, .dropdown2{
  position: relative;
}
nav ul ul{
  width: fit-content;
  height: fit-content;
  padding: 0px;
  position: absolute;
  background-color: #FF3F4A99;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: var(--main-transition);
}
nav ul ul li{
  height: 40px;
  display: block;
}
nav ul ul li a{
  width: 200px;
  padding: 20px;
  text-transform: capitalize;
  border-bottom: 1px var(--selection-color) solid;
}
nav ul ul li a:hover{
  border-bottom-color: #ccc;
}
.dropdown:hover ul{
  visibility: visible;
  opacity: 1;
}
.dropdown2 ul{
  position: absolute;
  left: 100%;
  top: 0px;
  opacity: 0 !important;
  transition: .5s;
}
.dropdown2:hover ul{
  opacity: 1 !important;
}
@media (max-width: 1260px) {
  .head{
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 1002px) {
  .head nav{
    display: none;
  }
  .head .nav{
    width: 160px;
    height: 30px;
    outline: none;
    display: block;
  }
}
@media (max-width: 750px){
  header{
    flex-direction: column;
    height: 150px;
    padding-bottom: 20px;
  }
  .head .nav{
    width: 100%;
  }
}
/* landing section */
.background{
  background-image: url("../images/background-01.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.b01::before{
  content: '';
  background-color: #000;
  opacity: .5;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
}
.background *{
  z-index: 0;
}
.background h1{
  font-size: 60px;
  text-align: center;
}
@media (max-width: 750px){
  .background h1{
    font-size: 25px;
  }
}
.background p{
  margin-bottom: 40px;
  font-size: 16px;
  text-align: center;
}
.background input{
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  transition: var(--main-transition);
  z-index: 66;
}
@media (max-width: 750px){
  .background input{
    display: block;
    margin-bottom: 10px;
  }
}
#b1{
  background-color: var(--main-color);
}
#b1:hover{
  background-color: transparent;
  box-shadow:0px 0px 0px 1px #fff inset;
}
#b2{
  background-color: transparent;
  box-shadow:0px 0px 0px 1px #fff inset;
}
#b2:hover{
  background-color: var(--main-color);
  box-shadow: none;
}
/* start features */
.features .container{
  text-align: center;
  margin-top: -15%;
}
.features .container .cart{
  background-color: #fff;
  box-shadow: 0px 0px 5px 1px #0001;
  padding: 30px;
  transition: var(--main-transition);
  z-index: 1;
}
.features .container .cart:nth-child(2){
  color: #fff;
  background-color: #1C1D21;
}
.features .container .cart:nth-child(2) h3{
  color: #fff;
}
.features .container .cart:nth-child(2) i{
  background-color: var(--main-color);
  color: #fff;
}
.features .container .cart i{
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px #9998 solid;
}
.features .container .cart i{
  color: var(--main-color);
  font-size: 15px;
  transition: var(--main-transition);
}
.features .container .cart h3{
  font-size: 20px;
  margin: 30px 0px;
  color: var(--main-color);
  position: relative;
  transition: var(--main-transition);
}
.features .container .cart h3::after{
  content: '';
  width: 70px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--selection-color);
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.features .container .cart p{
  line-height: 1.2;
  margin-top: 60px;
}
.features .container .cart:hover:not(:nth-child(2)){
  background-color: #1C1D21;
  color: #fff;
}
.features .container .cart:hover:not(:nth-child(2)) h3{
  color: #fff;
}
.features .container .cart:hover:not(:nth-child(2)) i{
  background-color: var(--main-color);
  color: #fff;
}
/* VIVAMUS section */
.VIVAMUS{
  background-color: #fff;
}
.VIVAMUS .container .carts{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.VIVAMUS .container .carts .header{
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.VIVAMUS .container .carts i{
  font-size: 35px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: var(--main-transition);
  transition-delay: .3s;
}
.VIVAMUS .container .carts h3{
  display: inline-block;
  color: var(--secondary-color);
  font-size: 20px;
  margin-left: 5px;
}
.VIVAMUS .container .carts p{
  color: var(--secondary-color);
  font-size: 18px;
}
.VIVAMUS .container .carts:hover i{
  color: #FE3F4A;
}
/* NATOQUE section */
.NATOQUE .container{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.NATOQUE .container .cart{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.NATOQUE .container .cart img{
  width: 250px;
  height: 190px;
}
.NATOQUE .container .cart h4{
  color: var(--secondary-color);
  margin-top: 30px;
}
/* ULTRICES section */
.ULTRICES{
  width: 100%;
  background-image: url("../images/background-02.jpg");
  background-size: cover;
  position: relative;
}
.ULTRICES::before{
  content: '';
  width: inherit;
  height: 100%;
  background-color: #0009;
  position: absolute;
  top: 0;
  left: 0;
}
.ULTRICES *{
  z-index: 0;
}
.ULTRICES .container{
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important;
}
.ULTRICES .container blockquote{
  background-color: #fff;
  color: var(--secondary-color);
  padding: 25px 40px;
  border-radius: 15px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  transition: var(--main-transition);
}
.ULTRICES .container blockquote::before{
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  content: "\f10d";
  opacity: 20%;
}
.ULTRICES .container blockquote::after{
  content: '';
  border: 10px solid #fff;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: -20px;
  left: 20px;
  transition: var(--main-transition);
}
.ULTRICES .container blockquote:hover{
  background-color: var(--selection-color);
  color: #fff;
}
.ULTRICES .container blockquote:hover::after{
  border-top-color: var(--selection-color);
}
.ULTRICES h1{
  color: #fff;
}
.ULTRICES .container .cart{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #fff;
}
.ULTRICES .container .cart div{
  margin-left: 15px;
}
.ULTRICES .container .cart div p{
  font-size: .9em;
  line-height: 1.5;
}
.ULTRICES .container .cart img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.ULTRICES .special_button:hover{
  color: #fff;
  box-shadow: 0 0 0 1px #fff;
}
/* HENDRERIT section */
.HENDRERIT{
  background-color: #fff;
}
.HENDRERIT .container .cart{
  height: 520px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.HENDRERIT .container .cart img{
  width: 350px;
}
.HENDRERIT .container .cart h4{
  color: var(--secondary-color);
  font-weight: lighter;
}
.HENDRERIT .container .cart div i{
  font-size: 10px;
  margin: 0;
}
.HENDRERIT .container .cart div a{
  color: var(--main-color);
  text-decoration: none;
  font-size: 14px;
  margin: 0px 5px;
}
.HENDRERIT .container .cart div i:nth-of-type(2){
  margin: 0px 5px;
}
.HENDRERIT .container .cart div span{
  font-size: .9em;
  letter-spacing: .5px;
}
.HENDRERIT .container .cart p{
  line-height: 1.5;
}
.HENDRERIT .container .cart p span{
  color: var(--main-color);
  font-size: 14px;
}
.HENDRERIT .container .cart .special_button{
  margin: 0px;
  transform: translateX(0);
}
/* footer */
footer{
  background-color: #27282E;
}
footer .container{
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}
footer .container .column:not(:last-of-type){
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .container .column h4{
  color: #fff;
  font-weight: lighter;
  margin-bottom: 40px;
}
footer .container .column span{
  color: var(--footer-color);
}
footer .container .column .contact{
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}
footer .container .column .contact:not(:last-of-type,:nth-of-type(3)){
  border-bottom: 1px solid var(--secondary-color);
}
footer .container .column .contact:last-of-type i{
  padding: 10px;
  background-color: #161616;
  transition: var(--main-transition);
}
footer .container .column .contact:last-of-type a:not(:first-of-type){
  margin-left: 10px;
}
footer .container .column .contact:last-of-type .fa-facebook:hover{
  background-color: #3B5998;
  color: #fff;
}
footer .container .column .contact:last-of-type .fa-google-plus-g:hover{
  background-color: #DB4A39;
  color: #fff;
}
footer .container .column .contact:last-of-type .fa-linkedin:hover{
  background-color: #0E76A8;
  color: #fff;
}
footer .container .column .contact:last-of-type .fa-twitter:hover{
  background-color: #00ACEE;
  color: #fff;
}
footer .container .column .contact:last-of-type .fa-vk:hover{
  background-color: #4E658E;
  color: #fff;
}
footer .container .column .contact:not(:last-of-type) i{
  margin: 0 20px 0 0;
}
footer .container .column .contact i,
footer .container .column .contact span{
  font-size: 16px;
  color: var(--footer-color);
}
footer .container .column a{
  color: var(--main-color);
  text-decoration: none;
  font-size: 17px;
  margin-top: 15px;
}
footer .container .column:nth-of-type(2) span{
  padding: 15px 0;
  font-size: 17px;
}
footer .container .column:nth-of-type(2) span:first-of-type{
  border-bottom: 1px solid var(--secondary-color);
}
footer .container .column:nth-of-type(3) a:not(:last-of-type){
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 15px;
}
footer .container .column:nth-of-type(4) .imgover{
  float: left;
  margin: 5px;
  width: 70px;
  height: 70px;
}
footer .container .column:nth-of-type(4) img{
  width: inherit;
  height: inherit;
}
.footer{
  background-color: #1C1D21;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.footer *{
  color: #A0A1A5;
  font-size: 16px;
}
@media (max-width: 750px) {
  .footer{
    height: 90px;
    flex-direction: column;
  }
}
/* Scroller */
#scroller{
  padding: 10px;
  background-color: var(--main-color);
  font-size: 16px;
  color: #fff;
  position: fixed;
  right: 10px;
  bottom: 20px;
  opacity: .5;
  transition: var(--main-transition);
  cursor: pointer;
}
#scroller:hover{
  opacity: 1;
}
